@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);
 @import url(https://fonts.googleapis.com/css?family=Audiowide);
/*==================================== Some styles to spruce up the demo =====================================*/
 body {
	 background: #f2f1f1;
	 color: #5e5e5e;
	 font-family: 'Lato', sans-serif;
	 font-weight: 300;
	 text-shadow: 1px 1px 1px #fff;
	 text-align: center;
}
 h1 {
	 font-size: 1.5em;
	 font-size: 7vw;
	 line-height: 1.2;
	 margin: 0;
}
 @media (min-width: 500px) {
	 h1 {
		 font-size: 2.25em;
		 font-size: 7vw;
	}
}
 @media (min-width: 1000px) {
	 h1 {
		 font-size: 4.5em;
	}
}
 h2 {
	 font-size: 1em;
	 line-height: 1.2;
	 margin: 1.414em 0 0.5em;
}
 @media (min-width: 500px) {
	 h2 {
		 font-size: 1.5em;
	}
}
 @media (min-width: 800px) {
	 h2 {
		 font-size: 1.8em;
	}
}
 h1 {
	 color: #000;
	 font-family: "Audiowide", cursive;
	 font-weight: 900;
	 margin: 0.5em 0 2.5em;
}
 h1 span {
	 color: #ffd300;
}
 .wrap {
	 padding: 1em;
	 text-align: center;
}
 @media (min-width: 700px) {
	 .wrap {
		 padding: 1em 2em;
	}
}
/*==================================== Our Modal Window styles =====================================*/
 .modal {
	 background: rgb(58, 52, 52)f;
	 box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
	 border-radius: 0.7em;
	 display: inline-block;
	 padding: 1em;
}
 @media (min-width: 43.75em) {
	 .modal {
		 padding: 1.5em;
	}
}
 .modal > label {
	 background: #eaba0e;
	 border: 1px solid #ffffff;
	 border-radius: 0.9em;
	 color: #000;
	 cursor: pointer;
	 display: inline-block;
	 font-weight: bold;
	 padding: 0.75em 1.5em;
	 text-shadow: 1px 1px 1px #fff;
	 transition: all 0.55s;
}
 .modal > label:hover {
	 transform: scale(0.97);
}
 .modal__overlay {
	 background: #000;
	 bottom: 0;
	 left: 0;
	 position: fixed;
	 right: 0;
	 text-align: center;
	 text-shadow: none;
	 top: 0;
	 z-index: 600;
}
 .modal__wrap {
	 padding: 1em 0;
	 position: relative;
	 margin: 0 auto;
	 max-width: 500px;
	 width: 90%;
}
 @media (min-width: 50em) {
	 .modal__wrap {
		 padding: 1.75em;
	}
}
 @media (min-height: 37.5em) {
	 .modal__wrap {
		 left: 30%;
		 position: absolute;
		 top:66%;
		 transform: translate(-50%, -80%);
	}
}
 .modal__wrap label {
	 background: #ffd300;
	 border-radius: 50%;
	 color: #000;
	 cursor: pointer;
	 display: inline-block;
	 height: 1.5em;
	 line-height: 1.5;
	 position: absolute;
	 right: 0.5em;
	 top: 0.5em;
	 width: 1.5em;
}
 .modal__wrap h2 {
	 color: bluegray;
	 margin-bottom: 1em;
	 text-transform: uppercase;
}
 .modal__wrap p {
	 color: green;
	 text-align: justify;
}
 .modal input:focus ~ label {
	 transform: scale(0.97);
}
 input {
	 position: absolute;
	 top: -1000px;
}
 .modal__overlay {
	 opacity: 0;
	 transform: scale(0.5);
	 transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	 z-index: -100;
}
 input:checked ~ .modal__overlay {
	 opacity: 1;
	 transform: scale(1);
	 z-index: 800;
}
